In [1]:
import h5py
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import pandas as pd
from pandas.plotting import scatter_matrix
import seaborn as sns

# from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.svm import SVC
# from sklearn.metrics import roc_curve, roc_auc_score, classification_report, confusion_matrix,  ConfusionMatrixDisplay, RocCurveDisplay, PrecisionRecallDisplay
# from sklearn.model_selection import learning_curve
# from sklearn.decomposition import PCA
# from sklearn.tree import plot_tree
# from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_Code15 = pd.read_csv("../data/CODE-15%_exams.csv")
df_Code15 = df_Code15[['exam_id', 'age', 'is_male', 'trace_file']]
df_Code15.insert(4, "mean_ecg", -1)
df_Code15.insert(4, "mode_ecg", -1)
df_Code15.insert(4, "median_ecg", -1)
#df_Code15.insert(4, "folder", )
display(df_Code15)

df_ptbxl = pd.read_csv("../data/ptbxl_database.csv")
df_ptbxl = df_ptbxl[['ecg_id','patient_id', 'age', 'sex','filename_lr', 'filename_hr']]
df_ptbxl.insert(6, "mean_ecg", -1)
df_ptbxl.insert(6, "mode_ecg", -1)
df_ptbxl.insert(6, "median_ecg", -1)
df_ptbxl.insert(6, "folder", "PTB")
display(df_ptbxl)

df_Sami = pd.read_csv("../data/Sami-Trop_exams.csv")
df_Sami = df_Sami[['exam_id', 'age', 'is_male']]
df_Sami.insert(3, "mean_ecg", -1)
df_Sami.insert(3, "mode_ecg", -1)
df_Sami.insert(3, "median_ecg", -1)
df_Sami.insert(3, "folder", "sami")
display(df_Sami)

,exam_id,age,is_male,trace_file,median_ecg,mode_ecg,mean_ecg
0,1169160,38,True,exams_part13.hdf5,-1,-1,-1
1,2873686,73,True,exams_part13.hdf5,-1,-1,-1
2,168405,67,True,exams_part13.hdf5,-1,-1,-1
3,271011,41,True,exams_part13.hdf5,-1,-1,-1
4,384368,73,True,exams_part13.hdf5,-1,-1,-1
...,...,...,...,...,...,...,...
345774,1123951,33,True,exams_part2.hdf5,-1,-1,-1
345775,954704,73,False,exams_part2.hdf5,-1,-1,-1
345776,589697,75,False,exams_part2.hdf5,-1,-1,-1
345777,2780563,44,False,exams_part2.hdf5,-1,-1,-1
345778,1576698,27,False,exams_part2.hdf5,-1,-1,-1

,ecg_id,patient_id,age,sex,filename_lr,filename_hr,folder,median_ecg,mode_ecg,mean_ecg
0,1,15709.0,56.0,1,records100/00000/00001_lr,records500/00000/00001_hr,PTB,-1,-1,-1
1,2,13243.0,19.0,0,records100/00000/00002_lr,records500/00000/00002_hr,PTB,-1,-1,-1
2,3,20372.0,37.0,1,records100/00000/00003_lr,records500/00000/00003_hr,PTB,-1,-1,-1
3,4,17014.0,24.0,0,records100/00000/00004_lr,records500/00000/00004_hr,PTB,-1,-1,-1
4,5,17448.0,19.0,1,records100/00000/00005_lr,records500/00000/00005_hr,PTB,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...
21794,21833,17180.0,67.0,1,records100/21000/21833_lr,records500/21000/21833_hr,PTB,-1,-1,-1
21795,21834,20703.0,300.0,0,records100/21000/21834_lr,records500/21000/21834_hr,PTB,-1,-1,-1
21796,21835,19311.0,59.0,1,records100/21000/21835_lr,records500/21000/21835_hr,PTB,-1,-1,-1
21797,21836,8873.0,64.0,1,records100/21000/21836_lr,records500/21000/21836_hr,PTB,-1,-1,-1
21798,21837,11744.0,68.0,0,records100/21000/21837_lr,records500/21000/21837_hr,PTB,-1,-1,-1

      exam_id  age  is_male folder  median_ecg  mode_ecg  mean_ecg
0      294669   67     True   sami          -1        -1        -1
1      291318   65     True   sami          -1        -1        -1
2      247007   67    False   sami          -1        -1        -1
3      181629   34    False   sami          -1        -1        -1
4      250434   52    False   sami          -1        -1        -1
...       ...  ...      ...    ...         ...       ...       ...
1626   776005   63    False   sami          -1        -1        -1
1627   460507   58    False   sami          -1        -1        -1
1628   395721   80    False   sami          -1        -1        -1
1629   186505   48    False   sami          -1        -1        -1
1630   636212   61     True   sami          -1        -1        -1

[1631 rows x 7 columns]

In [3]:
labels_df = pd.read_csv("../data/Code15/code15_chagas_labels.csv")

records = []

# Define the lead names in the order stored in the HDF5 file.
lead_names = ['DI', 'DII', 'DIII', 'AVR', 'AVL', 'AVF',
              'V1', 'V2', 'V3', 'V4', 'V5', 'V6']

# Open the HDF5 file.
with h5py.File("../data/Code15/exams_part0.hdf5", "r") as f:
    # Load the exam ids (assumed small enough to load into memory)
    exam_ids_hdf5 = f['exam_id'][:]  # shape: (N,)
    # Build a mapping from exam_id (converted to string) to its index.
    exam_id_to_index = {str(eid): idx for idx, eid in enumerate(exam_ids_hdf5)}

    # Access the tracings dataset without converting the whole thing to a NumPy array.
    tracings = f['tracings']  # shape: (N, 4096, 12)

    # Process each exam_id from the CSV.
    for _, row in labels_df.iterrows():
        exam_id = str(row['exam_id'])
        chagas_val = row['chagas']

        # Ensure the exam_id exists in the HDF5 file.
        if exam_id in exam_id_to_index:
            index = exam_id_to_index[exam_id]
            # Read only the required chunk for this exam_id.
            ecg_data = tracings[index, :, :]  # shape: (4096, 12)

            # Create a record for the DataFrame.
            record = {"exam_id": exam_id, "chagas": chagas_val}
            # For each lead, extract the corresponding signal and trim leading/trailing zeros.
            for j, lead in enumerate(lead_names):
                signal = ecg_data[:, j]
                # Find indices of non-zero elements.
                nonzero_indices = np.nonzero(signal)[0]
                if nonzero_indices.size > 0:
                    start = nonzero_indices[0]
                    end = nonzero_indices[-1] + 1  # +1 to include the last non-zero element.
                    trimmed_signal = signal[start:end]
                else:
                    # If the signal is all zeros, leave it unchanged.
                    trimmed_signal = signal
                record[lead] = trimmed_signal

            records.append(record)

# Construct a pandas DataFrame from the collected records.
df = pd.DataFrame(records)

# --- Standardize each ECG signal array for each lead ---
# for idx, row in df.iterrows():
#     for lead in lead_names:
#         signal = row[lead]
#         # Compute the mean and standard deviation of the signal.
#         mean_val = np.mean(signal)
#         std_val = np.std(signal)
#         # Avoid division by zero.
#         if std_val != 0:
#             standardized_signal = (signal - mean_val) / std_val
#         else:
#             standardized_signal = signal - mean_val
#         # Update the DataFrame with the standardized signal.
#         df.at[idx, lead] = standardized_signal

# Example: print the first row to see the standardized arrays.
print(df.head())

   exam_id  chagas                                                 DI  \
0  3000862   False  [2.4625041, 2.6512797, 2.2965233, 2.5552232, 2...
1  2903368   False  [-0.09771842, -0.114296556, -0.05233861, -0.01...
2  2891944   False  [0.04885921, 0.09299803, 0.048911728, 0.003107...
3  2872920   False  [0.019543683, 0.004188288, -0.00091002416, -0....
4  4243597   False  [2.8125315, 2.7956874, 2.7961586, 2.8219056, 2...

                                                 DII  \
0  [-3.9966831, -4.3118763, -3.7316463, -4.137255...
1  [-0.068402894, -0.10931933, 0.0883364, 0.28733...
2  [0.12703393, 0.16206351, -0.07298482, -0.25317...
3  [0.068402894, 0.088374145, 0.026369374, 0.0638...
4  [-1.0975733, -1.1380206, -1.174241, -1.1905475...

                                                DIII  \
0  [-6.459187, -6.9631557, -6.0281696, -6.692478,...
1  [0.029315524, 0.22461408, 0.29533225, 0.257909...
2  [0.07817473, -0.15057138, -0.2765538, -0.21380...
3  [0.04885921, 0.04582192, 0.11402661, -0.062468...
4  [-3.9101048, -3.9337082, -3.9703994, -4.012453...

                                                 AVR  \
0  [0.77197546, 0.8311341, 0.71908635, 0.7968366,...
1  [0.08794657, -0.05008159, -0.13055333, -0.1002...
2  [-0.07817473, 0.05871296, 0.14494012, 0.100695...
3  [-0.039087366, -0.027994808, -0.038812168, 0.0...
4  [-0.8536681, -0.8287887, -0.8087613, -0.812389...

                                                 AVL  \
0  [4.4657316, 4.8088636, 4.160962, 4.624688, 4.4...
1  [-0.058631048, -0.13329743, -0.14794317, -0.13...
2  [-0.009771842, 0.08732919, 0.13991055, 0.12026...
3  [-0.009771842, -0.011644099, -0.06292823, 0.04...
4  [3.361318, 3.368499, 3.3847406, 3.4178882, 3.4...

                                                 AVF  \
0  [-5.2279353, -5.638065, -4.8775225, -5.409353,...
1  [-0.019543683, 0.20223346, 0.29465294, 0.24380...
2  [0.10749026, -0.13375913, -0.27268142, -0.1999...
3  [0.058631048, 0.05179831, 0.104778185, -0.0500...
4  [-2.500028, -2.5321555, -2.5682302, -2.5980105...

                                                  V1  \
0  [3.390829, 3.6519842, 3.1562257, 3.5026808, 3....
1  [1.01918e-18, 0.005423046, -0.022905856, -0.05...
2  [-0.17589314, -0.2697952, 0.044447765, 0.32224...
3  [0.12703393, 0.14816095, 0.122018985, 0.148325...
4  [0.2515272, 0.31201753, 0.38381925, 0.43213186...

                                                  V2  \
0  [3.4885473, 3.7576888, 3.246054, 3.6055787, 3....
1  [-0.068402894, -0.06832162, -0.04473841, -0.05...
2  [-9.092937e-18, -0.07088636, 0.21307722, 0.503...
3  [0.09771842, 0.11070904, 0.07738162, 0.0999179...
4  [1.250014, 1.3196721, 1.4100561, 1.4990134, 1....

                                                  V3  \
0  [1.602582, 1.7264037, 1.4906771, 1.657306, 1.6...
1  [-0.09771842, -0.1255354, -0.09238383, -0.0775...
2  [0.19543684, 0.1798858, 0.18007809, 0.23699823...
3  [0.27361158, 0.31935036, 0.23123594, 0.3312132...
4  [2.2180126, 2.2742465, 2.3616061, 2.4635425, 2...

                                                  V4  \
0  [-3.205164, -3.4651206, -3.014623, -3.3524098,...
1  [-0.12703393, -0.10299927, -0.041960333, -0.02...
2  [0.009771842, 0.035376593, 0.037848353, 0.0447...
3  [0.04885921, 0.047889203, 0.08633836, 0.010891...
4  [0.27439332, 0.30240723, 0.36327702, 0.4497668...

                                                  V5  \
0  [7.895648, 8.503564, 7.349741, 8.155712, 7.895...
1  [-0.10749026, -0.087465286, -0.0462454, -0.052...
2  [0.009771842, -0.07446233, -0.10801101, -0.079...
3  [-0.13680579, -0.15501772, -0.108905904, -0.17...
4  [-2.3933194, -2.3981988, -2.3726044, -2.316164...

                                                  V6
0  [-2.7458875, -2.9570198, -2.5568495, -2.834681...
1  [-0.08794657, -0.09433555, -0.08289615, -0.088...
2  [0.04885921, -0.04899579, -0.08835023, -0.0479...
3  [-0.07817473, -0.10047315, -0.027409282, -0.09...
4  [1.7225803, 1.7047265, 1.7095901, 1.7438099, 1...

In [4]:
# File paths
hdf5_file_path = "../data/sami/sami_exams.hdf5"
labels_csv_path = "../data/sami/samitrop_chagas_labels.csv"

# Load the labels dataframe and display it first
labels_df = pd.read_csv(labels_csv_path)

# Initialize the records list to store processed data
records = []

# Define lead names in the correct order
lead_names = ['I', 'II', 'III', 'AVR', 'AVL', 'AVF',
              'V1', 'V2', 'V3', 'V4', 'V5', 'V6']

# Open HDF5 file and process data
with h5py.File(hdf5_file_path, 'r') as hdf:
    # Access the tracings dataset
    tracings = hdf['tracings']
    print(f"\nTracings shape: {tracings.shape}")
    
    # Process each row in the labels dataframe
    for idx, row in labels_df.iterrows():
        # Get information from CSV
        exam_id = str(row['exam_id'])
        chagas_val = row['chagas']
        
        # Use the index position to access the corresponding tracing
        ecg_data = tracings[idx, :, :]  # shape: (4096, 12)
        
        # Create a record with exam_id and chagas label
        record = {"exam_id": exam_id, "chagas": chagas_val}
        
        # Process each lead
        for j, lead in enumerate(lead_names):
            signal = ecg_data[:, j]
            
            # Find indices of non-zero elements for trimming
            nonzero_indices = np.nonzero(signal)[0]
            if nonzero_indices.size > 0:
                start = nonzero_indices[0]
                end = nonzero_indices[-1] + 1  # +1 to include the last non-zero element
                trimmed_signal = signal[start:end]
            else:
                # If the signal is all zeros, keep it as is
                trimmed_signal = signal
                
            record[lead] = trimmed_signal
        
        records.append(record)
        
        # # Print progress every 100 records
        # if (idx + 1) % 100 == 0:
        #     print(f"Processed {idx + 1}/{len(labels_df)} records")

# Create the final dataframe
df = pd.DataFrame(records)

# Display information about the final dataframe
print("\nFinal DataFrame:")
print(df.head())

Tracings shape: (1631, 4096, 12)

Final DataFrame:
  exam_id  chagas                                                  I  \
0  247007    True  [-2.621980667114258, -2.6143863201141357, -2.6...
1  181629    True  [4.146388053894043, 4.144881248474121, 4.13754...
2  406936    True  [-0.22866110503673553, -0.2172079086303711, -0...
3  253803    True  [0.0293155238032341, 0.03249815106391907, 0.06...
4  253214    True  [0.08384239673614502, 0.08182810246944427, 0.0...

                                                  II  \
0  [4.466513156890869, 4.469058990478516, 4.47073...
1  [5.67079496383667, 5.662312984466553, 5.651445...
2  [0.21341702342033386, 0.2776165306568146, 0.22...
3  [0.0293155238032341, 0.04724210128188133, 0.02...
4  [0.27439332008361816, 0.28447631001472473, 0.3...

                                                 III  \
0  [7.088493824005127, 7.083445072174072, 7.08068...
1  [1.5244072675704956, 1.5174311399459839, 1.513...
2  [0.4420781135559082, 0.49482446908950806, 0.43...
3  [-5.378097249236154e-19, -0.007343067787587643...
4  [0.19055090844631195, 0.20264822244644165, 0.2...

                                                 AVR  \
0  [-0.92226642370224, -0.9269477725028992, -0.93...
1  [-4.9085917472839355, -4.9064249992370605, -4....
2  [0.00762203661724925, -0.029776262119412422, -...
3  [-0.019543683156371117, -0.010981068946421146,...
4  [-0.1829288899898529, -0.18752241134643555, -0...

                                                 AVL  \
0  [-4.8552374839782715, -4.851826190948486, -4.8...
1  [1.310990333557129, 1.3103822469711304, 1.3093...
2  [-0.3353695869445801, -0.35629743337631226, -0...
3  [0.019543683156371117, 0.012983699329197407, 0...
4  [-0.053354255855083466, -0.0596575103700161, -...

                                                 AVF  \
0  [5.777503967285156, 5.773292064666748, 5.77129...
1  [3.5976011753082275, 3.59063458442688, 3.58040...
2  [0.3277475833892822, 0.38645756244659424, 0.32...
3  [0.019543683156371117, 0.003106439718976617, 0...
4  [0.22866110503673553, 0.2391490936279297, 0.25...

                                                  V1  \
0  [3.7805299758911133, 3.7719459533691406, 3.767...
1  [5.160118579864502, 5.152315139770508, 5.13639...
2  [-2.103682279586792, -2.1194941997528076, -2.1...
3  [-0.07817473262548447, -0.0680684894323349, -0...
4  [-1.646359920501709, -1.6327180862426758, -1.6...

                                                  V2  \
0  [3.4451606273651123, 3.4427554607391357, 3.441...
1  [1.5091632604599, 1.5158127546310425, 1.509028...
2  [-1.2423919439315796, -1.2763943672180176, -1....
3  [1.1843210532606565e-17, 0.03779638558626175, ...
4  [-1.9283751249313354, -1.9219199419021606, -1....

                                                  V3  \
0  [3.7729079723358154, 3.7716479301452637, 3.764...
1  [0.4801883101463318, 0.4810580611228943, 0.475...
2  [0.487810343503952, 0.4588669240474701, 0.4631...
3  [0.0293155238032341, 0.09214488416910172, -0.2...
4  [-2.6296026706695557, -2.6289095878601074, -2....

                                                  V4  \
0  [4.5046234130859375, 4.50203275680542, 4.49840...
1  [1.981729507446289, 1.9820793867111206, 1.9724...
2  [0.030488146468997, 0.0017155039822682738, 0.0...
3  [0.03908736631274223, -0.03583567216992378, 0....
4  [-3.3308300971984863, -3.323091506958008, -3.3...

                                                  V5  \
0  [4.367426872253418, 4.363537311553955, 4.36631...
1  [3.9405927658081055, 3.9407272338867188, 3.927...
2  [0.487810343503952, 0.4596656560897827, 0.4590...
3  [0.048859208822250366, 0.03252699598670006, 0....
4  [-1.6387377977371216, -1.6387708187103271, -1....

                                                  V6
0  [3.3232076168060303, 3.320565938949585, 3.3192...
1  [2.553382396697998, 2.554743766784668, 2.54139...
2  [0.3811018168926239, 0.35114219784736633, 0.35...
3  [0.07817473262548447, 0.06427843123674393, 0.0...
4  [-7.683012962341309, -7.678431987762451, -7.67...

In [ ]:
# File paths
hdf5_file_path = "../data/PTB/records500"
labels_csv_path = "../data/PTB/ptbxl_database.csv"

# Load the labels dataframe and display it first
labels_df = pd.read_csv(labels_csv_path)

# Initialize the records list to store processed data
records = []

# Define lead names in the correct order
lead_names = ['I', 'II', 'III', 'AVR', 'AVL', 'AVF',
              'V1', 'V2', 'V3', 'V4', 'V5', 'V6']

# Open HDF5 file and process data
with h5py.File(hdf5_file_path, 'r') as hdf:
    # Access the tracings dataset
    tracings = hdf['tracings']
    print(f"\nTracings shape: {tracings.shape}")
    
    # Process each row in the labels dataframe
    for idx, row in labels_df.iterrows():
        # Get information from CSV
        exam_id = str(row['exam_id'])
        chagas_val = row['chagas']
        
        # Use the index position to access the corresponding tracing
        ecg_data = tracings[idx, :, :]  # shape: (4096, 12)
        
        # Create a record with exam_id and chagas label
        record = {"exam_id": exam_id, "chagas": chagas_val}
        
        # Process each lead
        for j, lead in enumerate(lead_names):
            signal = ecg_data[:, j]
            
            # Find indices of non-zero elements for trimming
            nonzero_indices = np.nonzero(signal)[0]
            if nonzero_indices.size > 0:
                start = nonzero_indices[0]
                end = nonzero_indices[-1] + 1  # +1 to include the last non-zero element
                trimmed_signal = signal[start:end]
            else:
                # If the signal is all zeros, keep it as is
                trimmed_signal = signal
                
            record[lead] = trimmed_signal
        
        records.append(record)
        
        # # Print progress every 100 records
        # if (idx + 1) % 100 == 0:
        #     print(f"Processed {idx + 1}/{len(labels_df)} records")

# Create the final dataframe
df = pd.DataFrame(records)

# Display information about the final dataframe
print("\nFinal DataFrame:")
print(df.head())